/**
 * Styles
 */

.pif-has-gallery {
    position: relative;
}
.pif-has-gallery .onsale {
    z-index: 999999;
}

.pif-has-gallery .secondary-image {
    position: absolute;
    top:0;
    left:15px;
    opacity:0;
    -webkit-transition: opacity .3s ease-in-out;
       -moz-transition: opacity .3s ease-in-out;
        -ms-transition: opacity .3s ease-in-out;
         -o-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
}
.fadeOutUp {
    opacity: 0;
}
.fadeInDown {
    opacity: 1!important;
}
